body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.content{
    width: 500px;
}

.content h1{
    text-align: center;
    margin-bottom: 20px;
}

.content > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content > div input{
    height: 40px;
    width: 60%;
    font-size: 20px;
}